@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");

$primarybtn: #fff;
$textcolor: #535456;

@import "./part1";
@import "./part2";
@import "./part3";

body {
  background-color: #c3cfe2;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
